/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
  font-family: monospace;
  font-size: 15px;
  text-align:center;

}

#navbar {
  position: fixed;
  top: 0px;
  width:100%;
  height:30px;
  background-color: black;
  padding-bottom: 10px;
  padding-top: 10px;

}

#navbar a{
  color: blue;

}

#welcome-section {
  height: 100vh;
  color:green;
  background-image: url("https://images.unsplash.com/photo-1580432551600-8c9768628a9e?ixlib=rb-1.2.1&w=1000&q=80");
  
}
